/* curloc */

div.curloc {
       background: transparent;
       border: 0px;
       color: #fff;
       padding: 0px;
       width: 100%;
       height: 100%;
       font-family: monospace;
       outline: none;
       resize: none;
       font-size: 13px;
       position: fixed;
       left: 13px;
       top: 98%;
}

